[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
	branch = v1.2.0
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.1
[submodule "lib/ethfs"]
	path = lib/ethfs
	url = https://github.com/holic/ethfs
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Brechtpd/base64
	branch = v1.1.0
